<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.yunwei.mapper.TProvinceServerConfigMapper">


    <select id="count" resultType="java.lang.Integer">
                select count(business_type) from t_province_server_config where province  = #{provice} and business_type = #{key} ;
    </select>
    <select id="select" resultType="com.neusoft.yunwei.pojo.TProvinceServerConfig">
        select * from t_province_server_config where business_ip = #{lastIp};
    </select>
    <select id="selectByProvices" resultType="java.lang.String">
        select  business_ip  from t_province_server_config tpsc where province = #{provice} and cluster = #{cluster};
    </select>
    <select id="selectProvince" resultType="java.lang.String">
        select province  from t_province_server_config tpsc group by province ;
    </select>


</mapper>
